@using TechJobsPersistent.ViewModels;
@model AddJobViewModel;

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedEmployerId">Employer</label>
        <select asp-for="SelectedEmployerId" asp-items="@Model.AllEmployersList"></select>
        Don't see the employer you're looking for? <a asp-controller="Employer" asp-action="Add">Add Employer</a>
    </div>

    <input type="submit" value="Add Job" />
</form>

